In [1]:
#Membaca file
file = open("Belajar.txt", "r")
file.read()

'Saya sedang belajar AI hari ini.'

In [2]:
import os
os.makedirs("Latihan")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'Latihan'

In [ ]:
#Membaca file
file = open("Latihan/Isi.txt", "r")
file.read()

In [ ]:
#Menulis file baru

with open("Latihan/Revisi.txt", "w") as c:
    c.write("Saya Keren.")

In [ ]:
open("Latihan/Revisi2.txt", "w").write("Saya Keren lho.")

# Membedakan "Write" dan "Append"

In [ ]:
#Append

file = open("Latihan/Isi.txt", "a+")
file.write("\nBelajar AI itu menyenangkan.")
file.seek(0) #seek(0) artinya mulai dari huruf yang pertama (index 0)
oke = print(file.read())
oke #bisa sekaligus READ karena modenya a+

In [ ]:
# Write

file = open("Latihan/Isi.txt", "w+")
file.write("Hari ini saya mau makan bakso")
file.seek(0)
file.read()

# Numpy dan Operasi Matematika

In [ ]:
import numpy as np

In [ ]:
#1D Array
a = np.array([3,1,4,7])

In [ ]:
print("Banyaknya entry = ", a.size)

In [ ]:
print("Dimensi Array = ", a.ndim)

In [ ]:
print("Ukuran Array = ", a.shape)

In [ ]:
# Slicing Array
a[1:]

In [ ]:
a[1:3]

In [ ]:
a[:3]

In [ ]:
#2D array (Matrix)
A = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(A)

In [ ]:
print("Banyaknya entry = ", A.size)
print("Dimensi Array = ", A.ndim)
print("Ukuran Array = ", A.shape)

In [ ]:
# Slicing 2D
print("Baris ke-2 = ", A[1])

In [ ]:
print("Entry ke-2 dan ke-3 kemudian baris ke-2 = ", A[1,1:3] )

In [ ]:
print("Entry ke-2 dan ke-3 kemudian baris ke-2 = ", A[1][1:] )

In [ ]:
print("Entry ke-1 & 2 kolom ke 2", A[:2,1])

# Operasi matematika pada matrix

In [ ]:
A = np.array([[1, 2], [7,8]])
B = np.array([[3, 5], [1,6]])

In [ ]:
A+B

In [ ]:
A-B

In [ ]:
2*A

In [ ]:
2+A

In [ ]:
# Perkalian antar matrik
A*B

In [ ]:
# Perkalian DOT VECTOR
np.dot(A,B)

In [ ]:
# Operasi Lainnya
# Mean pada Matrix A
np.mean(A)

In [ ]:
#Median pada Matrix A
np.median(A)

In [ ]:
#Nilai max pada Matrix A
np.max(A)

In [ ]:
#Nilai min pada Matrix A
np.min(A)

In [ ]:
A.mean()

In [ ]:
#sort matrix A
np.sort(A)

In [ ]:
#transpose matrix A
np.transpose(A)

In [ ]:
#determinan matrix A
np.linalg.det(A)

# PANDAS LIBRARY

In [4]:
import pandas as pd
import numpy as np

In [5]:
df1 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['a', 'b', 'c'])
df1

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [42]:
df1=pd.DataFrame({'a': [9,9,9], 'b': [4,5,6], 'c': [7, 8, 9]})
df1

   a  b  c
0  9  4  7
1  9  5  8
2  9  6  9

In [6]:
df1['d']=[3,5,6]
df1

   a  b  c  d
0  1  2  3  3
1  4  5  6  5
2  7  8  9  6

In [7]:
df2=df1[['a','d']]
df2

   a  d
0  1  3
1  4  5
2  7  6

In [34]:
z = pd.DataFrame({'a':[1], 'a':[2]})
z

   a
0  2

In [1]:
df1[df1['a']>10 & df1['b']>5]

NameError: name 'df1' is not defined

In [62]:
sm=df1['a']>10
sm

0    False
1    False
2    False
Name: a, dtype: bool

In [65]:
sm2=df1['b']>3
sm2

0    True
1    True
2    True
Name: b, dtype: bool

In [66]:
total = sm+sm2
total

0    True
1    True
2    True
dtype: bool

In [75]:
df3=df1['a']>2,df1['b']>1
df3

(0    True
 1    True
 2    True
 Name: a, dtype: bool,
 0    True
 1    True
 2    True
 Name: b, dtype: bool)

In [84]:
df1[(df1['a'] > 1) & (df1['b'] >2) | (df1['c'] >2)]

   a  b  c  d
0  9  4  7  3
1  9  5  8  5
2  9  6  9  6

In [58]:
df1[['a','b']]>10

       a      b
0  False  False
1  False  False
2  False  False

In [48]:
df3= df1[df1['a']>10]
df3

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [85]:
df1

   a  b  c  d
0  9  4  7  3
1  9  5  8  5
2  9  6  9  6

In [91]:
df1.iloc[0:3:2,0:3:2]

   a  c
0  9  7
2  9  9

In [97]:
#decribe per kolom
df1[['a','b']].describe()

         a    b
count  3.0  3.0
mean   9.0  5.0
std    0.0  1.0
min    9.0  4.0
25%    9.0  4.5
50%    9.0  5.0
75%    9.0  5.5
max    9.0  6.0

In [98]:
#describe all kolom
df1.describe()

         a    b    c         d
count  3.0  3.0  3.0  3.000000
mean   9.0  5.0  8.0  4.666667
std    0.0  1.0  1.0  1.527525
min    9.0  4.0  7.0  3.000000
25%    9.0  4.5  7.5  4.000000
50%    9.0  5.0  8.0  5.000000
75%    9.0  5.5  8.5  5.500000
max    9.0  6.0  9.0  6.000000